{% extends "base.html" %}
{% block title %} Buscador de actividades {% endblock %}

{% block extra_css %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/buscador.css') }}">
{% endblock %}

{% block content %}
<main class = "page-main buscador-main">

    <section class = "section">

        <h1> Buscador de actividades </h1>

        <form id = "buscador-form" class = "buscador-form">
            <label for = "busqueda"> Buscar por nombre, descripción o comuna </label>
            <input
                id = "busqueda"
                name = "q"
                type = "text"
                minlength = "3"
                autocomplete = "off"
                placeholder = "Escribe al menos 3 caracteres">
        </form>

        <p id = "buscador-mensaje" class = "buscador-mensaje">
            Escribe al menos 3 caracteres para buscar !
        </p>

    </section>

    <section id = "resultados-busqueda" class = "resultados-busqueda" aria-live = "polite"></section>

</main>
{% endblock %}

{% block extra_js %}
<script src = "{{ url_for('static', filename = 'js/buscador.js') }}"></script>
{% endblock %}