{% extends "base.html" %}
{% block title %} Contacto {% endblock %}

{% block content %}
<main class = "page-main">
    <section class = "section">

        <h1> Contacto </h1>
        <h2> Información del desarrollador </h2>
        <p><strong>Nombre completo:</strong> Emiliano Vásquez Parada </p>
        <p><strong>Correo electrónico:</strong> evasquez@dcc.uchile.cl </p>
        <p><strong>Teléfono:</strong> +56 9 7874 9167 </p>
        <p><strong>Curso:</strong> CC5002 Desarrollo de Aplicaciones Web </p>

        </section>
    </main>
{% endblock %}