{% extends "base.html" %}

{% block title %} Estadísticas {% endblock %}

{% block extra_css %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/stats.css') }}">
{% endblock %}

{% block content %}
    <main>

        <h1> Estadísticas </h1>
        <h2> Resumen visual del sistema </h2>

        <section class = "page-main stats-sections">
            <article class = "section">

                <h3> Miembros registrados por día </h3>
                <div id = "grafico-miembros-dia" class = "grafico"></div>

            </article>

            <article class = "section">

                <h3> Actividades por tipo </h3>
                <div id = "grafico-actividades-tipo" class = "grafico"></div>

            </article>

            <article class = "section">

                <h3> Actividades por comuna </h3>
                <div id = "grafico-actividades-comuna" class = "grafico"></div>

            </article>

            <a class = "volver-inicio" href = "{{url_for('index')}}"> Volver a la portada </a>
        </section>
    </main>
    {% endblock %}

{% block extra_js %}
<script src = "https://code.highcharts.com/highcharts.js"></script>
<script src = "{{ url_for('static', filename = 'js/estadisticas.js') }}"></script>
{% endblock %}
