{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block extra_css %}
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}


{% block content %}
    <main class = "page-main">

        {% with mensajes = get_flashed_messages() %}

            {% if mensajes %}

                <section class = "section">
                    <p> {{ mensajes[0] }} </p>            
                </section>

            {% endif %}

        {% endwith %}

        <section class = "section">

            <h1> Sistema para organización de actividades para la comunidad DCC </h1>
            <p>
                Esta página web puede registrar miembros de la comunidad, informar actividades
                extracurriculares y visualizar métricas
            </p>

        </section>

        <section class = "page-main">
            <article class = "section">

                <h2> Registro de miembros y actividades </h2>
                <p>
                    Permite ingresar la información básica de estudiantes, docentes y funcionarios/as, además de sus actividades.
                </p>
                <a class = "home-link" href = "{{ url_for('registro') }}"> Ir a registro y actividades </a>

            </article>


            <article class = "section">

                <h2> Listado de miembros </h2>
                <p>
                    Permite consultar miembros registrados, filtrar por tipo y ordenar resultados.
                </p>
                <a class = "home-link" href = "{{ url_for('miembros') }}"> Ir a miembros </a>

            </article>

            <article class = "section">

                <h2> Estadísticas </h2>
                <p>
                    Presenta indicadores visuales sobre miembros y actividades registradas.
                </p>
                <a class = "home-link" href = "{{ url_for('estadisticas') }}"> Ir a estadísticas </a>

            </article>

            <article class = "section">

                <h2> Contacto </h2>
                <p>
                    Información de contacto del desarrollador.
                </p>
                <a class = "home-link" href = "{{ url_for('contacto') }}"> Ir a contacto </a>

            </article>

            <article class = "section">

                <h2> Últimos cinco miembros registrados: </h2>

                {% if miembros %}

                    <ul>
                        {% for miembro in miembros %}
                            <li> {{ miembro.nombre }} ({{ miembro.email }}) </li>
                        {% endfor %}
                    </ul>

                {% else %}

                    <p> No hay miembros registrados aún ! </p>

                {% endif %}
            </article>

        </section>
    </main>
{% endblock %}