<!DOCTYPE html>
<html lang = "es">

<head>

    <meta charset = "UTF-8">
    <title> Registro de usuarios </title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/styles.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/navbar.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/forms.css') }}">

</head>

<body>

<nav class = "navbar">

    <a href = "{{ url_for('index') }}"> Inicio </a>
    <a href = "{{ url_for('registro') }}"> Registro </a>
    <a href = "{{ url_for('actividades') }}"> Actividades </a>
    <a href = "{{ url_for('miembros') }}"> Miembros </a>
    <a href = "{{ url_for('estadisticas') }}"> Estadísticas </a>
    <a href = "{{ url_for('contacto') }}"> Contacto </a>

</nav>

    <main>

        <h1> Registro de miembros y actividades </h1>
        <h2> Complete los siguientes campos para crear su cuenta </h2>

        <form class = "formulario" method= "POST" enctype = "multipart/form-data" novalidate>

            <div>

                <label for = "name"> Nombre Completo*: </label>
                <input type = "text" name = "name" id = "name" required>

                {% if errores.get('nombre') %}
                    <p class = "error-message"> {{ errores['nombre'] }} </p>
                {% endif %}

            </div>

            <div>

                <label for = "email"> Dirección de correo electrónico*: </label>
                <input type = "email" name = "email" id = "email" required>

                {% if errores.get('email') %}
                    <p class = "error-message"> {{ errores['email'] }} </p>
                {% endif %}

            </div>

            <div>

                <label for = "telefono"> Ingrese su teléfono*: </label>
                <input type = "text" name = "telefono" id = "telefono" required>

                {% if errores.get('telefono') %}
                    <p class = "error-message"> {{ errores['telefono'] }} </p>
                {% endif %}

            </div>

            <div>

                <label for = "comuna_id"> Comuna*: </label>
                <select name = "comuna_id" id = "comuna_id" required>

                    <option value = ""> Seleccione una opción </option>

                    {% for comuna in comunas %}

                        <option value = "{{ comuna.id }}"

                        {% if datos.get('comuna_id') == comuna.id|string %}
                            selected
                        {% endif %}>

                        {{ comuna.nombre }}

                        </option>

                    {% endfor %}
                </select>

                {% if errores.get('comuna_id') %}
                    <p class = "error-message"> {{ errores.get('comuna_id') }} </p>
                {% endif %}

            </div>

            <div>

                <label for = "nombre_actividad"> Nombre de la actividad*: </label>
                <input type = "text" name = "nombre_actividad" id = "nombre_actividad" required>

                {% if errores.get('nombre_actividad') %}
                    <p class = "error-message"> {{ errores['nombre_actividad'] }} </p>
                {% endif %}

            </div>

            <div>

                <label for = "tipo_actividad"> Tipo de actividad*: </label>
                <select name = "tipo_actividad" id = "tipo_actividad">

                    <option value = ""> Seleccione una opción </option>
                    <option value = "artística" {% if datos.get('tipo_actividad') == 'artística' %} selected {% endif %}> Artística </option>
                    <option value = "deportiva" {% if datos.get('tipo_actividad') == 'deportiva' %} selected {% endif %}> Deportiva </option>
                    <option value = "social" {% if datos.get('tipo_actividad') == 'social' %} selected {% endif %}> Social </option>
                    <option value = "tecnológica" {% if datos.get('tipo_actividad') == 'tecnológica' %} selected {% endif %}> Tecnológica </option>

                </select>
                {% if errores.get('tipo_actividad') %}
                    <p class = "error-message">{{ errores.get('tipo_actividad') }}</p>
                {% endif %}
            </div>

            <div>

                <label for = "descripcion_actividad"> Descripción*: </label>
                <textarea name = "descripcion_actividad" id = "descripcion_actividad">{{ datos.get('descripcion_actividad', '') }}</textarea>

                {% if errores.get('descripcion_actividad') %}
                    <p class="error-message">{{ errores.get('descripcion_actividad') }}</p>
                {% endif %}

            </div>

            <div>

                <label for = "dias"> Días* </label>
                <fieldset class = "dias-fieldset">

                    <legend> Días* </legend>

                <label><input type = "checkbox" name = "dias" value = "lunes"
                    {% if 'lunes' in dias_seleccionados %} checked {% endif %}> Lunes </label>

                <label><input type = "checkbox" name = "dias" value = "martes"
                    {% if 'martes' in dias_seleccionados %} checked {% endif %}> Martes </label>

                <label><input type = "checkbox" name = "dias" value = "miércoles"
                    {% if 'miércoles' in dias_seleccionados %} checked {% endif %}> Miércoles </label>
                    
                <label><input type = "checkbox" name = "dias" value = "jueves"
                    {% if 'jueves' in dias_seleccionados %} checked {% endif %}> Jueves </label>

                <label><input type = "checkbox" name = "dias" value = "viernes"
                    {% if 'viernes' in dias_seleccionados %} checked {% endif %}> Viernes </label>

                {% if errores.get('dias') %}
                    <p class = "error-message">{{ errores.get('dias') }}</p>
                {% endif %}

            </fieldset>

            <div>

                <label for = "hora_inicio"> Hora de inicio*: </label>
                <input type = "time" name = "hora_inicio" id = "hora_inicio" value = "{{ datos.get('hora_inicio', '') }}">

                {% if errores.get('hora_inicio') %}
                    <p class = "error-message">{{ errores.get('hora_inicio') }}</p>
                {% endif %}

            </div>

            <div>

                <label for = "hora_termino"> Hora de término*: </label>
                <input type = "time" name = "hora_termino" id = "hora_termino" value = "{{ datos.get('hora_termino', '') }}">

                {% if errores.get('hora_termino') %}
                    <p class = "error-message">{{ errores.get('hora_termino') }}</p>
                {% endif %}

            </div>

            <div>

                <label for = "foto"> Foto(s)*: </label>
                <input type = "file" name = "foto" id = "foto" multiple>

                {% if errores.get('foto') %}
                    <p class = "error-message">{{ errores.get('foto') }}</p>
                {% endif %}

            </div>

            <div class = "register-button">

                <input type = "submit" value = "Registrar">
            </div>

        </form>
    </main>
    <script src = "{{ url_for('static', filename = 'js/registro.js') }}" ></script>
</body>
</html>